@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu&family=Varela+Round&display=swap'); 
body{
    background-color: #E5E5E5;
}
.heading{
    position: absolute;
    width: 517px;
    height: 50px;
    left: 550px;
    top: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}
.Newpass{
    position: absolute;
    width: 347px;
    height: 23px;
    left: 550px;
    top: 210px;

    /* Button Paragraph */

    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 0.205em;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 66px 0px;
}
#inputPassword6{
    border-radius: 0%;
    position: absolute;
    width: 417px;
    height: 45px;
    left: 535px;
    top: 325px;
    background: #F2F2F2;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
}
.Renter{
    position: absolute;
    width: 347px;
    height: 23px;
    left: 550px;
    top: 360px;

   /* Button Paragraph */

    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 0.205em;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 66px 0px;
}
#inputPassword5{
    border-radius: 0%;
    position: absolute;
    width: 417px;
    height: 45px;
    left: 535px;
    top: 510px;
    background: #F2F2F2;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
}
#btn2{
    position: absolute;
    width: 441px;
    height: 68px;
    left: 550px;
    top: 650px;

    /* Button */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.205em;
    background: #000000;
    border-radius: 10px;

    color: #FFFFFF;

}
.text{
    position: absolute;
    width: 183px;
    height: 21px;
    left: 550px;
    top: 570px;

    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    /* Tertiary Div */

    color: #EB5757;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../font/Avenir Next/Bold.otf');
}